services:
  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: cinema
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d cinema"]
      interval: 5s
      timeout: 3s
      retries: 20

  backend:
    build:
      context: ./back
      dockerfile: Dockerfile
    environment:
      DJANGO_DEBUG: "1"
      DJANGO_SECRET_KEY: "please-change-me"
      DATABASE_URL: "postgres://postgres:postgres@db:5432/cinema"
      DEFAULT_SUPERUSER: "admin"
      DEFAULT_SUPERPASS: "admin123"
      DEFAULT_SUPEREMAIL: "admin@example.com"
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    expose:
      - "8080"

  front:
    build:
      context: .
      dockerfile: front/Dockerfile
    depends_on:
      - backend
    ports:
      - "8080:80"       # при желании можно сменить на 8080:80


volumes:
  postgres_data:
  static_volume:
  media_volume:
